{% extends 'base.html'%}

{%block content%}

<div class="container">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_folder_modal">
    Create Folder
</button>

<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        {%for path in paths%}
            <li class="breadcrumb-item" aria-current="page"><a href="{{url_for('drive.index', id=path['id'])}}" >{{path['name']}}</a></li>
        {%endfor%}
    </ol>
</div>


<!-- Modal -->
<div class="modal fade" id="create_folder_modal" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Create folder</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{url_for('drive.create_folder')}}" method="post">
            {{csrf_token}}
          <div class="modal-body">
            <p>Enter your folder name:</p>
            <input type="text" name="name" id="name" class="form-control"/>
            <input type="hidden" name="parent_id" value="{{id}}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
      </form>
    </div>
  </div>
</div>


<hr>
</div>

{% for subfolder in subfolders %}
    <p>
    
        <a href="{{url_for('drive.index', id=subfolder.id)}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path
                    d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
            </svg> 
            {{subfolder.name}}</a>
    </p>
    {%endfor%}


{%endblock content%}